# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\files\_by_spheres\Startups_and_business\NFTs\ApesOfSpace\_Website\_build\game-landing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
